.write {
    padding-top: 50px;
}

.write-form {
    position: relative;
}

.write-form-group {
    margin-left: 150px;
    display: flex;
    align-items: center;
}

.write-input {
    font-size: 30px;
    border: none;
    padding: 20px;
    width: 70vw;
}

.write-input:focus {
    outline: none;
}

.write-text {
    font-size: 20px;
}

.write-submit {
    position: absolute;
    top: 20px;
    right: 50px;
    color: white;
    background-color: teal;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}